

  <table class="u-full-width">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
        <th>Thumbnail</th>
      </tr>
    </thead>
    <% if(productos.length != 0){ productos.map(elem => { %>
    <tbody>
    <tr>
      <td><p><%=elem.id%></p></td>
      <td> <p> <%=elem.producto.title%></p></td>
      <td> <p><%=elem.producto.price%></p></td>
      <td><img class="imagen" src="<%=elem.producto.thumbnail%>"></td>
    </tr>
    <% })} else { %>
      <td><p>No hay productos </p></td>
      <% } %>
    </tbody>
  </table>
  
<style>
.imagen{width:10%}
table{
  margin: 20px;
  
}
</style>