<div style="display:inline-block">
  <button  onclick="window.location='http://localhost:8080';" class="btn-primary">Agregar Producto</button>
  <button onclick="window.location='http://localhost:8080/productos';" class="btn-primary">Vista de Productos</button>
</div>
<style>
  button{
      margin: 15px;
  
    }
  </style>
  